body {
  margin: 0;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000a12;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 241, 241);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
